@tailwind base;
@tailwind components;
@tailwind utilities;

$logo: 225.9 70.7% 40.2%;
$white: 0 0% 98%;
$muted: 210 40% 96%;
$almost-black: 222.2 84% 4.9%;
$light-gray: 210 40% 98%;
$light-mode-light-gray: 214.3 31.8% 91.4%;
$dark-mode-red: 0 62.8% 30.6%;
$light-mode-red: 0 84.2% 60.2%;
$slate: 217.2 32.6% 17.5%;
$light-mode-foreground: 222.2 47.4% 11.2%;
$light-mode-muted-foreground: 215.4 16.3% 46.9%;
$dark-mode-muted-foreground: 215 20.2% 65.1%;
$dark-mode-ring: 212.7 26.8% 83.9%;
$success: 109 53% 50%;
$info: 211 57% 50%;
$warning: 63 80% 64%;

@layer base {
  :root {
    --background: #{$white};
    --foreground: #{$almost-black};
    --card: #{$white};
    --card-foreground: #{$almost-black};
    --popover: #{$white};
    --popover-foreground: #{$almost-black};
    --primary: #{$logo};
    --primary-foreground: #{$white};
    --secondary: #{$muted};
    --secondary-foreground: #{$light-mode-foreground};
    --muted: #{$muted};
    --muted-foreground: #{$light-mode-muted-foreground};
    --accent: #{$muted};
    --accent-foreground: #{$light-mode-foreground};
    --destructive: #{$light-mode-red};
    --destructive-foreground: #{$light-gray};
    --border: #{$logo};
    --input: #{$logo};
    --ring: #{$almost-black};
    --radius: 0.5rem;
    --success: #{$success};
    --success-foreground: #{$white};
    --warning: #{$warning};
    --warning-foreground: #{$white};
    --info: #{$info};
    --info-foreground: #{$white};
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: #{$almost-black};
    --foreground: #{$light-gray};
    --card: #{$almost-black};
    --card-foreground: #{$light-gray};
    --popover: #{$almost-black};
    --popover-foreground: #{$light-gray};
    --primary: #{$logo};
    --primary-foreground: #{$white};
    --secondary: #{$slate};
    --secondary-foreground: #{$light-gray};
    --muted: #{$slate};
    --muted-foreground: #{$dark-mode-muted-foreground};
    --accent: #{$slate};
    --accent-foreground: #{$light-gray};
    --destructive: #{$dark-mode-red};
    --destructive-foreground: #{$light-gray};
    --border: #{$slate};
    --input: #{$slate};
    --ring: #{$dark-mode-ring};
    --success: #{$success};
    --success-foreground: #{$white};
    --warning: #{$warning};
    --warning-foreground: #{$white};
    --info: #{$info};
    --info-foreground: #{$white};
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
